.mod {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 441px;

  .primary {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f8f9fb;
    width: 320px;
    height: 440px;
    overflow: hidden;

    .hot {
      position: relative;
      margin-top: 42px;
      margin-left: 40px;
      max-width: 268px;
      height: 62px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 62px;
      letter-spacing: 0px;
      white-space: nowrap;
      color: #e74c00;
      font-family: Helvetica;
      font-size: 54px;
      font-weight: normal;
    }

    .products {
      position: relative;
      margin-top: 1px;
      margin-left: 44px;
      max-width: 264px;
      height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 22px;
      white-space: nowrap;
      color: #e74c00;
      font-family: Helvetica;
      font-size: 18px;
      font-weight: normal;
    }

    .item {
      position: relative;
      opacity: 1;
      margin-top: 7px;
      width: 265px;
      height: 306px;
    }
  }

  .side {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    background-color: #ffffff;
    width: 880px;
    height: 440px;

    .outer {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: row;
      margin-top: 28px;
      height: 168px;

      .wrap {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 119px;
        height: 168px;

        .largeIcon {
          position: relative;
          opacity: 1;
          margin-left: 22px;
          width: 68px;
          height: 130px;
        }

        .smartLighting {
          position: relative;
          margin-top: 18px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }

      .block {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 114px;
        width: 102px;
        height: 165px;

        .pic {
          position: relative;
          opacity: 1;
          width: 90px;
          height: 124px;
        }

        .smartWasher {
          position: relative;
          margin-top: 21px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }

      .group {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 125px;
        height: 168px;

        .largeIcon_2 {
          position: relative;
          opacity: 1;
          margin-left: 22px;
          width: 68px;
          height: 130px;
        }

        .airConditioner {
          position: relative;
          margin-top: 18px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }

      .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90px;
        height: 165px;

        .img {
          position: relative;
          opacity: 1;
          width: 90px;
          height: 124px;
        }

        .smartPlug {
          position: relative;
          margin-top: 21px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }

    .empty {
      position: relative;
      margin-top: 23px;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: rgba(240, 240, 240, 1);
      width: 876px;
      height: 1px;
    }

    .div {
      position: absolute;
      bottom: 0px;
      left: 220px;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: rgba(240, 240, 240, 1);
      width: 1px;
      height: 439px;
    }

    .empty_2 {
      position: absolute;
      bottom: 0px;
      align-self: center;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: rgba(240, 240, 240, 1);
      width: 1px;
      height: 439px;
    }

    .div_2 {
      position: absolute;
      right: 219px;
      bottom: 0px;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: rgba(240, 240, 240, 1);
      width: 1px;
      height: 439px;
    }

    .block_3 {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: row;
      margin-top: 29px;
      height: 167px;

      .outer_2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 119px;
        height: 167px;

        .largeIcon_3 {
          position: relative;
          opacity: 1;
          margin-left: 22px;
          width: 68px;
          height: 130px;
        }

        .smartLighting_2 {
          position: relative;
          margin-top: 17px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }

      .wrap_2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3px;
        margin-right: 114px;
        width: 102px;
        height: 164px;

        .smallItem {
          position: relative;
          opacity: 1;
          width: 90px;
          height: 124px;
        }

        .smartWasher_2 {
          position: relative;
          margin-top: 20px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }

      .block_2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 125px;
        height: 167px;

        .largeIcon_4 {
          position: relative;
          opacity: 1;
          margin-left: 22px;
          width: 68px;
          height: 130px;
        }

        .airConditioner_2 {
          position: relative;
          margin-top: 17px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }

      .group_2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3px;
        width: 90px;
        height: 164px;

        .smallPic {
          position: relative;
          opacity: 1;
          width: 90px;
          height: 124px;
        }

        .smartPlug_2 {
          position: relative;
          margin-top: 20px;
          line-height: 20px;
          white-space: pre;
          color: #888b8d;
          font-family: Helvetica;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}
